body {
margin: 0;
padding: 0; 
background-color:#ecf4e5;   
}
/* index .html*/
  /*style of charts container*/
.chart-container {
display: flex;
flex-wrap: wrap;}
@media (max-width: 800px) {
.chart-container {
flex-direction:row;
width: 550px;
margin-left: 40px;
}}
/* style of column chart*/
#chart_div2{
width: 400px;
height: 400px;
position: relative;
}
/* style of pia chart*/
#chart_div1{
width: 300px;
height: 400px;
position: relative;

}
/* style of some text next to charts*/
.chart_div0{
width: 300px;
position: relative;
margin-top: 30px;
text-align: center;
font-size: 120%;
display: inline;
}
/* style of div that write about flowers*/
.box {
border-radius: 20px;
flex-grow: 1;
height: 80px;
background-image: linear-gradient(40deg, #778db5,#92a6ed ,rgb(128, 169, 244));
text-align: center;
padding-top: 10px;
margin: 30px;
cursor: pointer;
}
@media (max-width: 800px){
.box{
width: 30%;
}}
/* style of div that has content about wallet*/
.wallet{
display: flex;
flex-wrap: wrap;}
.boxes{
cursor: pointer;
border-radius: 10px;
flex-grow: 1;
height: 90px;
background-image: linear-gradient(40deg, #7fa4e9,#92aae7,rgb(11, 96, 200));
margin: 20px;
text-align: center;
padding-top: 10px; }
@media (max-width: 800px){
.boxes{width: 40%;}}
/* style of the first img */
.buleimg {
width:95%;
margin-top: 20px;
cursor: pointer;
margin: 10px;}
/* size of img at div of all admin*/
.profile {
width: 50px;
height: 50px;
margin-right: 50px;
line-height: 30px;}
.profile:hover{
cursor: pointer;
}
/* style of table at div of all */
.tables{
 display: grid;
 grid-template-columns: 1fr 1.5fr;
 grid-template-rows: 1fr;
 margin: 30px;
 gap: 30px;
}
@media (max-width: 800px){
.tables{
 display: grid;
 grid-template-columns: 1fr ;
 grid-template-rows: 1fr 2fr;
 margin:0;}}
.other{
  background-color: #a5b8dc;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  line-height:30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 400px;
  border: #6e8bc0 solid 3px;}
h3{
 position: relative;
 bottom: 20px;
  text-align: left;}
@media (max-width: 800px){
.other{
line-height:35px;
margin: 20px;
font-size: 100%;
height: 400px;}
h3{
 text-align: center;}}
 /* these code are related to search bar at other status div😊*/
.search {
display: inline-flex;
align-items:center;
background-image:
linear-gradient(40deg,
rgb(49, 170, 231), #717fe8);
color: #fff;
padding: 10px;
border-radius: 4px;
border: 1px solid #fff;
position:relative ;
left:40px;
bottom: 25px;}
.search :is(input, button) {
background: transparent;
color: inherit;
border: none;
outline: none;}
.search__input {
width: 0;
transition: width 0.5s;}
.search__button {
display: grid;
place-items: center;
width: 25px;
height: 20px;
cursor: pointer;
transition: color 0.25s;}
.search__button:hover {
color: #e3e3e3;}
.search:focus-within input {
width: 200px;}
::placeholder {
font: inherit;
color: #e3e3e3;
font-size: medium;}
@media (max-width: 800px){
 ::placeholder{
  font-size: small;
 } 
}
/* style of content at div of all admin*/
.alladmin {
font-family:Georgia, 'Times New Roman', Times, serif;
background-image: linear-gradient(30deg, #a5b8dc,#d9dff4);
width: 300px;
height: 400px;
font-size: 25px;
margin-left: 60px; 
border: #6e8bc0 solid 3px;}
.alladmin h4{
padding-left: 20px;}
@media (max-width: 800px){
.alladmin{
margin-left: 100px; }}
.alladmin li{
 list-style-type: none;
 cursor: pointer;
 line-height: 70px;}
/* profile page*/
/* all div*/
.profilee{
background-color: #c9d4e9;
width: 600px;
height: 900px;
position: relative;
margin-top: 50px;
margin-left: 250px;
border-radius: 20px;}
@media (max-width: 800px){
.profilee{
width: 350px;
height: 800px;
margin-left: 20px;}}
/* img of profile*/
.imgprofile{
width:150px ;
height: 150px;
margin-top: 20px;
margin-left: 30px;}
/* style of link that related to profile*/
.change{
font-size: 10px;
margin-left: 80px;}
/* some input and lable at left*/
.name{
border-radius: 10px;
margin-top: 10px;
margin-left: 20px;
background-image: linear-gradient(30deg, #6e8bc0,#d9dff4);
cursor: pointer;}
label{
cursor: pointer;}
form{
padding: 30px;
margin: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
/* some input and lable at right*/
.last{
position: relative;
bottom:55px;
margin-left: 300px;
border-radius: 10px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: linear-gradient(30deg, #6e8bc0,#d9dff4);
cursor: pointer;}
@media (max-width: 800px){
.last{
margin-left: 180px;}
input{width: 130px;
font-size: medium;
cursor: pointer;}}
.las{
position: relative;
bottom: 70px;
margin-left: 300px;
width: 200px;
cursor: pointer;}
@media (max-width: 800px){
.las{
margin-left: 150px;}}
/* these are my button*/
.button{
width:160px;
height: 40px;
margin-left: 40px;
background-image: linear-gradient(30deg, #2d4f8d,#7181b9);}
.button:hover{
background-image: linear-gradient(60deg, #3579f8,#a6aece);
cursor: pointer;}
@media (max-width: 800px){
.button{
width:150px;
height: 40px;
margin-left:-10px;
}}
.button1{
position: relative;
margin-top: -65px;
margin-left: 350px;
width:160px;
height: 40px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: linear-gradient(30deg, #2d4f8d,#7181b9);}
.c:hover{
 background-image: linear-gradient(60deg, #3579f8,#a6aece) ;
 cursor: pointer;}
@media (max-width: 800px){
.button1{
position: relative;
margin-left: 150px;}}
/* as I write this is for my links*/ 
@media (max-width: 800px){
.link{
font-size:10px;}
.link:hover{font-family:Georgia, 'Times New Roman', Times, serif;
color: #2d4f8d;
cursor: pointer;}}

  

